@model Employee
@{
    ViewData["Title"] = "Add Employee";
}

<div class="text-center">
    <h1 class="display-4">Add Employee</h1>

    <div class="row">
        <div class="col-md-6">


            <form asp-controller="home" asp-action="add" method="post">
                <div class="form-group">
                    <input class="form-control" placeholder="Enter firstname" asp-for="FirstName"/>
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="Enter lastname" asp-for="LastName"/>
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <select class="form-control" asp-for="Department">
                        <option value="">Select department</option>
                        <option value="Account">Account</option>
                        <option value="Development">Development</option>
                        <option value="HR">HR</option>
                        <option value="IT">IT</option>
                    </select>
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="Enter estimated salary" asp-for="Salary"/>
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control btn btn-block btn-danger" value="Register" />
                    <span class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>


</div>